html,
*,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(31, 41, 55);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(55, 65, 81);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#file-upload-button {
  background-color: #374151;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: #171923;
  color: #e7e8f2;
  font-family: "Afacad Flux", sans-serif;
  font-size: 16px;
}

p {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

header {
  background-color: #232a37;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo a {
  text-decoration: none;
  color: #e7e8f2;
}

.site-logo a:hover {
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.nav-menu {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

ul.nav-menu li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #e7e8f2;
}

ul.nav-menu li a:hover {
  color: #fff;
}

main > .container {
  margin-block: 2.5rem;
  padding: 2rem;
  border-radius: 6px;
}

.card {
  background-color: #232a37;
}

.card h2 {
  font-size: 32px;
  font-weight: 700;
}

.datepicker-dropdown {
  z-index: 101 !important;
}

#editmemberinfo,
#newcontrib,
#newloan,
#creditpay,
#viewreceipt,
#viewmessage {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0;
  max-width: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}

#newcontrib,
#newloan,
#creditpay,
#viewmessage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

#editmemberinfo.show,
#newcontrib.show,
#newloan.show,
#creditpay.show,
#viewreceipt.show,
#viewmessage.show {
  transition: all 0.2s ease-in-out;
  z-index: 99;
  opacity: 1;
}

#newcontrib.show,
#newloan.show,
#creditpay.show {
  transition: all 0.2s ease-in-out;
}

#editmemberinfo .card {
  position: relative;
  transition: all 0.5s ease-in-out;
  height: calc(100vh + 18px);
  left: -100%;
}

#editmemberinfo.show .card {
  transition: all 0.5s ease-in-out;
  left: 0;
}

.errorfield {
  border: 1px solid rgb(220, 38, 38) !important;
}

button.addnewmembertoggle {
  transform: rotate(90deg);
  transition: 0.2s all ease-in-out;
  display: none;
}

#addnewmembersection {
  transition: 0.2s height ease-in-out;
  height: auto;
}

@media only screen and (max-width: 1023px) {
  #addnewmembersection.inactive {
    transition: 0.2s height ease-in-out;
    height: 60px;
  }
  #addnewmembersection.inactive form {
    z-index: -1;
    opacity: 0;
  }
  button.addnewmembertoggle {
    display: block;
  }
  #addnewmembersection.inactive button.addnewmembertoggle {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 576px) {
  * {
    font-size: 14px !important;
  }
  h1, h1.site-logo a {
    font-size: 24px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 18px !important;
  }
}/*# sourceMappingURL=style.css.map */